<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Easy Agro</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
	<link rel="stylesheet" type="text/css" href="../static/EasyAgro/home.css">
</head>
<body>
	<div class="part1" style="width: 100%;">
		<h8 class="contact">যে কোন তথ্যের জন্য যোগাযোগ করুন   +৮৮০১৯০৬১৪৫৯২২</h8>
	</div>

	<div class="part2" style="width: 100%;">
		<div style="font-family: cursive;" class="header item">Easy Agro</div>

		<div style="display: flex; align-items: center; justify-content: center;" class="ui right secondary menu">
			<a style="color: white;" class="item" href="{% url 'SignIn' %}">SignUp/Login</a>
			<a style="color: white;" class="item" href="">Contact</a>
			<a style="color: white;" class="item" href="">Help</a>
		</div>
	</div>

	<div class="part3" style="width: 100%;">
		<div class="slide">
			<div class="diseaseIdent">
				<h4>কোন একাউন্ট ছাড়াই আপনার ফসলের রোগ নির্ণয় করতে <a href="{% url 'Disease' %}">এখানে</a> ক্লিক করুন</h4>
			</div>
		</div>
		<div class="slide">
			<div class="diseaseIdent">
				<h4>কোন একাউন্ট ছাড়াই আপনার ফসলের রোগ নির্ণয় করতে <a href="{% url 'Disease' %}">এখানে</a> ক্লিক করুন</h4>
			</div>
		</div>
		<div class="slide">
			<div class="diseaseIdent">
				<h4>কোন একাউন্ট ছাড়াই আপনার ফসলের রোগ নির্ণয় করতে <a href="{% url 'Disease' %}">এখানে</a> ক্লিক করুন</h4>
			</div>
		</div>
	</div>

	<div class="part4" style="width: 100%;">
		<div class="knowUs">
			<h2>আমাদেরকে জানুন</h2>
			<h5>আমাদের ওয়েবসাইটে আপনি আপনার ফসলের ছবি আপলোড করে ফসলের ভবিষ্যদ্বাণী করতে পারেন। এবং আপনি আপনার ফসলের রোগের নিখুঁত সমাধান পাবেন।
যা আপনার জন্য খুবই উপকারী।</h5>
			<button><a href="">আরও জানুন</a></button>
		</div>
	</div>
</body>
</html>