<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Easy Agro</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
	<link rel="stylesheet" type="text/css" href="../static/EasyAgro/postPlanting.css">
</head>
<body>
	<div class="part1" style="width: 100%;">
		<h8 class="contact">যে কোন তথ্যের জন্য যোগাযোগ করুন   +৮৮০১৯০৬১৪৫৯২২</h8>
	</div>

	<div class="part2" style="width: 100%;">
		<div style="font-family: cursive;" class="header item">Easy Agro</div>

		<div style="display: flex; align-items: center; justify-content: center;" class="ui right secondary menu">
			<a style="color: white;" class="item" href="">Help</a>
			<a style="color: white;" class="item" href="">Contact</a>
			<a style="color: white;" class="item" href="">{{user.first_name}}</a>
			<a style="color: white;" class="item" href="{% url 'Logout' %}">LogOut</a>
		</div>
	</div>

	<div class="part3" style="width: 100%;">
		<label class="porject" for="">{{project.name}}</label>
		<div class="card">
			<h4>মাটির গভীরতাঃ {{depth}} সেঃমিঃ</h4>
			<h4>চারার মধ্যকার ব্যাবধানঃ {{spacing}}</h4>
			<h4>সেচ ব্যাবস্থাঃ {{irrigation}}</h4>
			<h4>পানি নিষ্কাশন ব্যাবস্থাঃ {{drainage}}</h4>
			<h4>{{time}} দিন পর ফসল সংগ্রহ করা যাবে (৫-৭ দিন কম বেশি হতে পারে)</h4>
		</div>


	</div>
</body>
</html>