<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Easy Agro</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
	<link rel="stylesheet" type="text/css" href="../static/EasyAgro/project.css">
</head>
<body>
	<div class="part1" style="width: 100%;">
		<h8 class="contact">যে কোন তথ্যের জন্য যোগাযোগ করুন   +৮৮০১৯০৬১৪৫৯২২</h8>
	</div>

	<div class="part2" style="width: 100%;">
		<div style="font-family: cursive;" class="header item">Easy Agro</div>

		<div style="display: flex; align-items: center; justify-content: center;" class="ui right secondary menu">
			<a style="color: white;" class="item" href="">Help</a>
			<a style="color: white;" class="item" href="">Contact</a>
			<a style="color: white;" class="item" href="">{{user.first_name}}</a>
			<a style="color: white;" class="item" href="{% url 'Logout' %}">LogOut</a>
		</div>
	</div>

	<div class="part3" style="width: 100%;">
		<label class="porject" for="" style="color: black;">{{project.name}}</label>
		<div class="card">
			<a href="{% url 'Fertilizer' %}?project_id={{project.id}}">সারের পরিমাপ এবং সার ছিটানোর সময়সুচি</a>
		</div>

		<div class="card">
			<a href="{% url 'PrePlanting' %}?project_id={{project.id}}">প্রাক রোপন প্রক্রিয়া</a>
		</div>

		<div class="card">
			<a href="{% url 'PostPlanting' %}?project_id={{project.id}}">মুল জমিতে রোপন প্রক্রিয়া</a>
		</div>
		<label class="finish" for="">আপনার প্রজেক্ট টি সম্পন্ন হয়ে গেলে ফিনিশ এ ক্লিক করুন</label>
		<button class="finish-btn">Finish</button>
	</div>
</body>
</html>